@import 'reset';
@import 'jquery.fullPage';
@import 'icons/ionicons';

html, body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #96EAD4;
	color: #304f55;
	text-align: center;
}

h1 {
	// font-weight: lighter;
	font-size: 4em;
}

p, cite, ul {font-size: 1.4em;}

cite {line-height: 1.3em; }

img {max-width: 100%;}

blockquote {
	font-size: 3em;
	font-style: italic;
	font-family: 'Times', serif;
	max-width: 50%;
	padding: 5px;
	margin: 20px auto;

}
#intro {
	background:url(../images/sun.png) -70px -60px no-repeat ;
}
.austin {
	background:url(https://farm6.staticflickr.com/5561/13986819501_ec1447b6b2_k.jpg);
	background-size: cover;
}
#project {
	img{max-height: 450px;}
}
#team {
	background-color: #fff;
}

#takeaction {
	background-color: #F1EFA5;
	p, ul {
		max-width: 50%;
		margin: 5px auto;
	}
	ul {
		list-style: circle;
		text-align: left;
		line-height: 1.2em;
	}
}

#sources {
	cite {
		max-width: 50%;
		display: block;
		margin: 5px auto;
		text-align: left;
	}
}

.text{
	background-color: rgba(255,255,255, 0.65);
	max-width: 50%;
	margin: 10px auto;
	border-radius: 10px;
	padding: 10px;
	ul {
		text-align: left;
		list-style: circle;
		font-size: 1.5em;
		line-height: 1.2em;
	}
}

p {
	max-width: 50%;
	margin: 10px auto;
	line-height: 1.2em;
}

.gray {
	background: #747474;
	color: #fff;
}

.controlArrow.next {margin-right: 30px;}